.table-container{
    margin-top: 30px;
    margin-bottom: 20px;
}

.table-container thead{
    color: white;
    background: #0b161c;
}
.table-container th{
    width: 20%;
    text-align: center;
}
.table-container td{
    width: 20%;
    padding: 20px;
}

.table-container tr td{
    color: blue;
    text-align: center;
    background-color: black;
}

@media screen and (min-width: 1202px) {
    font-size: 15pt;
}

@media screen and (min-device-width: 834px) and (max-device-width: 1201px) {
    font-size: 12pt;
}

@media only screen and (max-device-width: 833px) {
    font-size: 10pt;
}
