<section class="auth">
  <div class="login">
    <p>
      Логин

    </p>
    <input type="text" id="login" class ="rounded" name="login">
  </div>
  <div class="password">
    <p>
      Пароль
    </p>
    <input type="password"  id="password" class ="rounded" name="password">
  </div>
  <div class="password">
    <p>
      Повторный пароль
    </p>
    <input type="password" id="repeat_password" class ="rounded" name="repeat_password">
  </div>

  <div class="send_button">
    <input type="button" (click)="send()" class ="rounded" value="Зарегистрироваться">
  </div>
  <div class="error_msg">
    <p>
    </p>
  </div>
</section>
